<section id="seccion">
  
        <table border ="2" class="tabla">
                    <tr>
                        <th>Pingunos</th>
                        <th>Tuilipanes</th>
                        <th>Desiertos</th>
                    </tr>
                    <tr>
                        <td><img src= "imagenes/foto1.jpg" alt=""></td>
                        <td><img src= "imagenes/foto1.jpg" alt></td>
                        <td><img src= "imagenes/foto2.jpg" alt></td>
                    </tr>
            </table>
    
            <section>Solicitud</section>        
            
            <article>
                <header>
                    
                        <h3>Despues de tus datos oprime el boton "enviar"</h3>
                   
                </header>
            </article>
    
            <form action="/Operacion_guardar.php">
    
                Nombre:
                <input type="text" Name="Nombre"> <br>
                Apellido:
                <input type="text" Apellido="Apellido"> <br>
                  Correo:
                <input type="email" Correo="Correo"> <br>,
    
                <h3>Eres:</h3><input type="radio"name="genero">Hombre<input type="radio"name="genero">Mujer <br>,
                
                <h3>Slecciona lo que sabes</h3> <input type="checkbox">Java<input type="checkbox">C++<input type="checkbox">Basic<input type="checkbox">HTML<br>,
    
    
                <h3>Selecciona los idiomas que comprendes</h3><br>,
    
                <select name="Idioma" size="4">
                    <option value="Español">Español</option>
                    <option value="Ingles">Ingles</option>
                    <option value="Frances">Frances</option>
                    <option value="Aleman">Aleman</option>
                </select>
                
                <h3>Comentarios adicionales: </h3><br>,
    
                <textarea name="mensaje" rows="10" cols="30">ingrese sus comentarios...</textarea><br>
               
                <input type="reset" value="limpiar">
                <input type="submit" value="Enviar">
                
    
            </form>
    
        
   

</section>
