<nav id="menu">
    <ul>
        <li>
            <a [routerLink]="['./principal']">Principal</a>
        </li>
        <li>
            <a [routerLink]="['./pagina']">pagina</a>
        </li>
        <li>
            <a [routerLink]="['./solicitud']">solicitud</a>
        </li>
        <li>
            <a [routerLink]="['./contacto']">Contacto</a>
        </li>
        <li>
            <a [routerLink]="['./informacion']">Informacion</a>
        </li>
        <li>
            <a [routerLink]="['./blog']">blog</a>
        </li>
        <li>
            <a [routerLink]="['./directiva']">directiva</a>
        </li>
    </ul>
</nav>
